html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  width: 300px;
  background-color: blue;
}

.inner-box {
  background-color: blue;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.home-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  padding: 0;
  margin: 0;
}

.home-card p {
  padding: 5px;
  margin: 0;
  word-wrap: break-word;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 0;
  border-radius: 8px;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  background-color: inherit;
  box-sizing: border-box;
}

.pokemon-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pokemon-card h2,
.pokemon-card-content h3,
.pokemon-card-content div {
  margin: 0;
  padding: 5px 0;
}

.pokemon-card-content img {
  align-self: center; /* Center the image horizontally */
  margin: 10px 0; /* Add vertical margin for spacing */
  max-height: 150px; /* Ensure the image fits within the card */
}

.pokemon-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: px solid white;
}
